<div class="col-md-6">
  <select (change)="onChangeDone($event.target.value)" class="form-control filter">
    <option value="all">Show All</option>
    <option value="done">Show Done</option>
    <option value="notDone" selected="selected">Show Not Done</option>
  </select>
</div>
<div class="col-md-6">
  <select (change)="onChangeCat($event.target.value)" class="form-control filter">
    <option value="home">Show Home</option>
    <option value="work">Show Work</option>
    <option value="hobby">Show Hobby</option>
    <option value="all" selected="selected">Show all</option>
  </select>
</div>

<task-display *ngFor="#currentTask of taskList | done:filterDone | cat:filterCat"
  (click)="taskClicked(currentTask)"
  [class.high]="currentTask.priority === 'high'"
  [class.medium]="currentTask.priority === 'medium'"
  [class.low]="currentTask.priority === 'low'"
  [class.selected]="currentTask === selectedTask"
  [task]="currentTask">
</task-display>
<edit-task-details *ngIf="selectedTask" [task]="selectedTask">
</edit-task-details>
<new-task (onSubmitNewTask)="createTask($event)"></new-task>
